<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <section class="logo">
            <img src="/images/logo-mercado-liebre.svg" width="300px" alt="Logo Mercado Liebre">
        </section>
        <section class="busqueda">
            <input type="text" placeholder="Buscar productos, marcas y más...">
            <i class="fas fa-search"></i>
        </section>
        <section class="tarjetas_header">
            <i class="fas fa-hand-holding-usd"></i>
            <p>Comprá en cuotas y sin tarjeta de crédito</p>
        </section>
        <nav>
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="#">Creá tu cuenta</a><i class="far fa-id-card"></i></li>
                <li><a href="#">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
                <li><a href="#">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
            </ul>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
                </div>
        </nav>
    </header>
    <main class="contenedor">
        <img src="/images/img-home-banner.jpg" width="300px" alt="Banner promocional">
        <section>
            <h2>Basado en tu última visita</h2>
            <article class="producto">
                <img src="/images/img-cafetera-moulinex.jpg" width="300px" alt="Cafetera Moulinex">
                <i class="fas fa-truck"></i>
                <p class="precio">$6.770</p>
                <p class="descuento">40% OFF</p>
                <h4 class="descripcion">Cafetera Moulinex</h4>
            </article>
            <article class="producto">
                <img src="/images/img-macbook-pro-2019.jpg" width="300px" alt="MacBook Pro 2019">
                <p class="precio">$230.000</p>
                <p class="descuento">20% OFF</p>
                <h4 class="descripcion">MacBook Pro 2019</h4>
            </article>
            <article class="producto">
                <img src="/images/img-samsung-galaxy-s10.jpg" width="300px" alt="Samsung Galaxy S10">
                <p class="precio">$70.500</p>
                <p class="descuento">10% OFF</p>
                <h4 class="descripcion">Samsung Galaxy S10</h4>
            </article>
            <article class="producto">
                <img src="/images/img-tv-samsung-smart.jpg" width="300px" alt="SmartTv Samsung 43"">
                <p class="precio">$23.200</p>
                <p class="descuento">10% OFF</p>
                <h4 class="descripcion">Samsung Galaxy S10</h4>
            </article>
        </section>
        <section>
            <h2>Sección de ofertas</h2>
            <article class="producto">
                <img src="/images/img-cafetera-moulinex.jpg" width="300px" alt="Cafetera Moulinex">
                <p class="precio">$6.770</p>
                <p class="descuento">40% OFF</p>
                <h4 class="descripcion">Cafetera Moulinex</h4>
            </article>
            <article class="producto">
                <img src="/images/img-macbook-pro-2019.jpg" width="300px" alt="MacBook Pro 2019">
                <p class="precio">$230.000</p>
                <p class="descuento">20% OFF</p>
                <h4 class="descripcion">MacBook Pro 2019</h4>
            </article>
            <article class="producto">
                <img src="/images/img-samsung-galaxy-s10.jpg" width="300px" alt="Samsung Galaxy S10">
                <p class="precio">$70.500</p>
                <p class="descuento">10% OFF</p>
                <h4 class="descripcion">Samsung Galaxy S10</h4>
            </article>
            <article class="producto">
                <img src="/images/img-tv-samsung-smart.jpg" width="300px" alt="SmartTv Samsung 43"">
                <p class="precio">$23.200 </p>
                <p class="descuento">10% OFF</p>
                <h4 class="descripcion">Samsung Galaxy S10</h4>
            </article>
        </section>
    </main>
    <footer>
        <section class="icono_footer">
            <i class="fas fa-credit-card"></i>
            <h4>Paga con tarjeta o efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section class="icono_footer">
            <i class="fas fa-gift"></i>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section class="icono_footer">
            <i class="fas fa-user-shield"></i>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@</p>
        </section>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>