body {
    margin: 0;
    padding: 0;
}
header {
    background-color: #EAC926;
    padding: 5px;
}
p {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    margin: 0;
}
h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}
.logo img {
    width: 50%;
}
.busqueda {
    margin: 20px;
}
.busqueda input {
    width: 90%;
    height: 30px;
    font-size: 16px;
    text-indent: 30px;
    font-family: 'Roboto', sans-serif;
}
.busqueda i {
    margin-left: -245px;
}
.tarjetas_header {
    text-align: center;
    padding: 10px;
}
.tarjetas_header p {
    display: inline;
    margin: 0px 5px;
}
nav ul {
    padding: 0;
}
nav ul li {
    list-style: none;
    text-decoration: none;
}
nav ul li a {
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
    margin-right: 4px;
}
.burger-menu {
    text-align: center;
}
.burger-menu i {
    background-color: #1259c3;
    color: #ebebeb;
    padding: 7px;
    border-radius: 3px;
}
.contenedor {
    padding: 10px;
    background-color: #ebebeb;
}
.producto i {
    color: #39b54a;
}
.precio {
    font-size: 18px;
}
.descuento {
    font-size: 16px;
    color: #39b54a;
}
.descripcion {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0px 0px 20px 0px;
}
footer {
    text-align: center;
    padding: 10px 0px;
}
footer h4, p {
    font-family: 'Roboto', sans-serif;
}
.icono_footer i {
    margin-top: 20px;
    color: #1259c3;
    font-size: 24px;
}